export const credential = {
  username: 'standard_user',
  lockedUsername: 'locked_out_user',
  problemUsername: 'problem_user',
  perfomanceGlitchUsername: 'performance_glitch_user',
  errorUsername: 'error_user',
  visualUsername: 'visual_user',
  password: 'secret_sauce',
  firstName: 'tom',
  lastName: 'bob',
  postalCode: '12345',
  tax : 0.08,
  desiredItems: ['Sauce Labs Bolt T-Shirt', 'Sauce Labs Fleece Jacket', 'Sauce Labs Onesie'],
};